
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

<div class="card mb-4">
    <div class="card-body">


    </div>
</div>


<h3>Rechnungsanschrift</h3>


{{ form_widget(form) }}


<button class="btn" type="submit">Weiter</button>

{{ form_end(form) }}