{% extends 'base.html.twig' %}

{% block title %}Reservierung abgeschlossen{% endblock %}

{% block breadcrumb %}

{% endblock %}


{% block body %}


    <div class="container">

        <h1>Reservierung abgeschlossen</h1>




    </div>


{% endblock %}